body {
  background-color: #fff;
  font-family: Arial, 'Nono Sans', sans-serif;
}
.navbar {
  position: relative;
  display: block;
  background-color: #222;
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
  width: 100%;
  height: 23px;
  font-weight: bolder;
}
.navs {
  padding-left: 10px;
  font-size: 6.5pt;
  color: #AAAAAA;
}
.navs:hover {
    color: #fff;
    cursor: pointer;
}
.logo {
  margin: 100px 1em .75em 1em;
}
.logo img {
  height: 15%;
  width: 15%;
}
.center {
  text-align: center;
}
input {
  width: 360px;
  margin-bottom: 8px;
}
.button {
  border: 1px solid #DCDCDC;
  border-radius: 7%;
  margin-left: 5px;
  padding: 5px;
  background-color: #F5F5F5;
  font-size: 7px;
  color: #111;
  font-weight: bolder;
}
.shoutout {
  margin-top: 28px;
  font-size: 8.5px;
}