body {
}
.navbar {
  background-color: black;
  width: 100%;
  height: 30px;
}
.navbar span {
  color: white;
}
.logo {
  margin: auto 1em auto 1em;
  text-align: center;
}
.logo img {
  height: 15%;
  width: 15%;
}